{% extends "master.html.twig" %}


{% block mainContent %}

    <h1>--- CATEGORY ADD ---</h1>    


    <form method="post">
        Category Name: <input type="text" name="name" value="{{v.name}}">
        <input type="submit" value="Add category">
    </form>

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
    {% endif %}

{% endblock %}





