{% extends "master.html.twig" %}

{% block mainContent %}

    <h1>- THIS PAGE IS FORBIDDEN -</h1>
    <p>  Please <a href ="/web/admin.php/login"> LOG IN </a> to access this page </p>


{% endblock %}





