{% extends "master.html.twig" %}



{% block mainContent %}


    
    
<span style="color:#0ACF52;font-size:50px;">--- Administrator login ---</span><br><br><br><br><br><br><br>  

<form method="POST" name="user">    
    <input type="text" name="user" value="administrator">
    <input type="password" name="password" value="password">
    <input type="submit" value="LOGIN">
</form>

    
    
    
 
    

{% endblock %}

    
 

    
