{% extends "master.html.twig" %}

{% block mainContent %}

    <span style="color:#0ACF52;font-size:50px;">--- LOG OUT ---</span><br><br><br><br><br><br><br>
    <p class="price"> Administrator has successfully logged out.<p><br>
    <p>Click <a href ="/web/admin.php/main">  HERE </a> to return to the main page. </p>

{% endblock %}





